In [5]:
import pandas as pd

df = pd.read_csv("Pokemon.csv")

In [6]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [9]:
df['Legendary']

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

In [15]:
pokemonsdieikzoek = input("welke pokemon zoek je?  ")
gevonden = False
for check in df['Name']:
    #print(check)
    if pokemonsdieikzoek == check :
        gevonden = True
    
if gevonden :
    print("ja bestaat")
else:
    print("nee bestaat niet")

welke pokemon zoek je?  Bulbasaur
ja bestaat

In [20]:
df["Attack"].mean()

79.00125

In [18]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [22]:
df.iloc[:,1]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [26]:
for check in df:
    #print(check)
#    if check == "Bulbasaur" :
#        print("gevonden")
#        print(check["Total"])
    print(check)

#
Name
Type 1
Type 2
Total
HP
Attack
Defense
Sp. Atk
Sp. Def
Speed
Generation
Legendary

In [27]:
for teller, pokemon in df.iterrows():
    if pokemon["Name"] == "Bulbasaur":
        print("Gevonden")
        print(pokemon["Attack"])

Gevonden
49